.cart-footer button.cart-footer-btn {
  margin: 0px 10px;
}

.item-thumbnail-container {
  display: inline-block;
  height: 90px;
  width: 60px;
}

.item-thumbnail {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.qnty-input {
  width: 50px;
}
