.item-thumbnail-container {
  display: inline-block;
  max-height: 90px;
  width: 60px;
}

.item-thumbnail {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.quantity-input {
  width: 50px;
}

span + span {
  margin-left: 10px;
}
