<div class="layout-wh-center">
  <span>
    <div class="item-thumbnail-container">
      <img class="item-thumbnail" [src]="cartItem.product.imageUrl">
    </div>
  </span>
  <span>{{cartItem.product.name}}</span>
  <span>
    <input class="quantity-input" type="number" min="1" [(ngModel)]="cartItem.quantity">
  </span>
  <span>{{cartItem.product.price | currency:'USD'}}</span>
  <span>{{cartItem.product.price * cartItem.quantity | currency:'USD'}}</span>
  <span>
    <button mat-button (click)="onRemoveButtonClick()">
      <mat-icon>clear</mat-icon>
    </button>
  </span>
</div>
